<ul class="flex flex-column md:flex-row align-items-center">
    <li>
        <a [routerLink]="'legal/legal-notice' | localize" class="p-element p-ripple px-3 no-underline p-3 align-items-center text-700 hover:text-900 text-white hover:bg-black-alpha-80 hover:text-white font-medium border-round cursor-pointer transition-colors transition-duration-150">Legal notice</a>
    </li>
    <li>
        <a [routerLink]="'legal/privacy-policy' | localize" class="p-element p-ripple px-3 no-underline p-3 align-items-center text-700 hover:text-900 text-white hover:bg-black-alpha-80 hover:text-white font-medium border-round cursor-pointer transition-colors transition-duration-150">Privacy policy</a>
    </li>
    <li>
        <a [routerLink]="'legal/cookies-policy' | localize" class="p-element p-ripple px-3 no-underline p-3 align-items-center text-700 hover:text-900 text-white hover:bg-black-alpha-80 hover:text-white font-medium border-round cursor-pointer transition-colors transition-duration-150">Cookies policy</a>
    </li>
</ul>
