<div class="width-content grid my-6">
    <div class="col-12 sm:col-7 flex flex-column justify-content-center align-items-center gap-5">
        <div>
            <h1 class="text-8xl font-bold mb-0 line-height-1">404</h1>
            <p class="font-bold text-xl text-center">Oooops!</p>
        </div>
        <p class="max-w-20rem line-height-3 text-center">Sorry, the page you are looking for doesn't exist or has been removed</p>
        <a routerLink="/">
            <p-button label="back to home"></p-button>
        </a>
    </div>
    <div class="col-12 sm:col-5 mt-3 sm:mt-0">
        <img class="w-full" src="assets/media/illustrations/tired.svg" alt="tired" width="100%"/>
    </div>
</div>
