<div class="width-content">
    <p class="text-3xl font-bold mt-6 text-gray-900">Legal notice</p>

    <p class="text-xl font-medium mt-6 text-gray-800">1. General Information</p>
    <p class="mt-4 line-height-3 text-gray-600">This Legal Notice ("Notice") governs the use of {{ appName }} ("Website," "we," "us," or "our"), including the registration of users ("Users" or "you"). By accessing and using our Website, you agree to comply with the terms outlined in this Notice. If you do not agree with these terms, please refrain from using our Website.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">2. Website Content</p>
    <p class="mt-4 line-height-3 text-gray-600">The content provided on our Website is for general information purposes only. We strive to ensure that the information is accurate and up-to-date, but we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the information, products, services, or related graphics on the Website. Your use of any information on the Website is at your own risk.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">3. User Registration</p>
    <p class="mt-4 line-height-3 text-gray-600">When you register as a user on our Website, you agree to provide accurate and complete information. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account or any other breach of security.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">4. Intellectual Property</p>
    <p class="mt-4 line-height-3 text-gray-600">The content and materials on this Website, including but not limited to text, graphics, logos, images, audio clips, digital downloads, and software, are the property of {{ appName }} or its content providers and are protected by international copyright and intellectual property laws. You may not reproduce, distribute, modify, create derivative works, publicly display, or use any content from our Website without our explicit written permission.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">5. Links to Third-Party Websites</p>
    <p class="mt-4 line-height-3 text-gray-600">Our Website may contain links to third-party websites for your convenience. We do not endorse or control the content of these websites, and we are not responsible for any content or actions taken by third parties. Your use of third-party websites is subject to their respective terms and policies.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">6. Limitation of Liability</p>
    <p class="mt-4 line-height-3 text-gray-600">To the fullest extent permitted by applicable law, {{ appName }} shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or related to the use of our Website or the content therein. This includes, but is not limited to, loss of data, profits, or goodwill.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">7. Indemnification</p>
    <p class="mt-4 line-height-3 text-gray-600">You agree to indemnify, defend, and hold harmless {{ appName }}, its affiliates, partners, directors, officers, employees, and agents from any and all claims, liabilities, damages, losses, costs, expenses, or demands, including reasonable attorneys' fees, arising out of your use of the Website, your violation of this Notice, or your violation of any rights of a third party.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">8. Changes to this Notice</p>
    <p class="mt-4 line-height-3 text-gray-600">We reserve the right to modify or update this Notice at any time without prior notice. The "Effective Date" at the beginning of this Notice indicates when the latest revisions were made. Continued use of the Website following any changes constitutes your acceptance of those changes.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">9. Contact Us</p>
    <p class="mt-4 line-height-3 text-gray-600">If you have any questions about this Legal Notice, please contact us<br>By using our Website, you agree to comply with and be bound by the terms outlined in this Legal Notice.</p>

</div>

