<div class="width-content">
    <p class="text-3xl font-bold mt-6 text-gray-900">Cookies policy</p>

    <p class="text-xl font-medium mt-6 text-gray-800">1. Introduction</p>
    <p class="mt-4 line-height-3 text-gray-600">This Cookie Policy ("Policy") outlines the practices regarding the use
        of cookies and similar technologies on {{ appName }} ("Website"). This Policy aims to provide you with clear and
        comprehensive information about how we collect, use, and manage cookies on our Website. By continuing to use our
        Website, you consent to the use of cookies as described in this Policy.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">2. What are Cookies?</p>
    <p class="mt-4 line-height-3 text-gray-600">Cookies are small text files that are placed on your device when you
        visit a website. They are widely used to make websites work more efficiently and enhance user experience.
        Cookies collect information about your browsing activities, preferences, and interactions with the website.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">3. Types of Cookies We Use</p>
    <p class="font-medium mt-6 ml-3 text-gray-800">3.1. Essential Cookies</p>
    <p class="mt-4 line-height-3 ml-3 text-gray-600">These cookies are necessary for the basic functioning of the
        Website. They enable you to navigate the site and use its features, such as accessing secure areas. Without
        these cookies, certain services on the Website may not be available.</p>

    <p class="font-medium mt-6 ml-3 text-gray-800">3.2. Analytical Cookies</p>
    <p class="mt-4 line-height-3 ml-3 text-gray-600">We use analytical cookies to gather information about how visitors
        use our Website. This information helps us understand user behavior, improve the website's performance, and
        enhance your experience.</p>

    <p class="font-medium mt-6 ml-3 text-gray-800">3.3. Functional Cookies</p>
    <p class="mt-4 line-height-3 ml-3 text-gray-600">Functional cookies allow the Website to remember choices you make,
        such as your preferred language or region. They enable personalized features and improve your browsing
        experience.</p>

    <p class="font-medium mt-6 ml-3 text-gray-800">3.4. Third-Party Cookies</p>
    <p class="mt-4 line-height-3 ml-3 text-gray-600">Third-party cookies are placed by external websites or services for
        various purposes, such as advertising, social media integration, and analytics. We do not have control over
        these cookies, and their use is governed by the respective third-party's privacy policy.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">4. How We Use Cookies</p>
    <p class="mt-4 line-height-3 text-gray-600">We use cookies to:</p>
    <ul class="mt-4 ml-4 list-disc">
        <li class="text-gray-600 line-height-3">Ensure the proper functioning of the Website.</li>
        <li class="text-gray-600 line-height-3">Analyze user behavior and improve our services.</li>
        <li class="text-gray-600 line-height-3">Personalize your experience based on your preferences.</li>
        <li class="text-gray-600 line-height-3">Understand the effectiveness of our marketing efforts.</li>
    </ul>

    <p class="text-xl font-medium mt-6 text-gray-800">5. Your Cookie Choices</p>
    <p class="mt-4 line-height-3 text-gray-600">You can manage and control cookies through your browser settings. You
        can choose to block or delete cookies, and you can also set preferences for certain types of cookies. However,
        please note that blocking or deleting certain cookies may impact your ability to access certain features of the
        Website.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">6. Updates to this Policy</p>
    <p class="mt-4 line-height-3 text-gray-600">We may update this Policy from time to time to reflect changes in
        technology, legal requirements, and our practices. The "Effective Date" at the beginning of this Policy
        indicates when the latest revisions were made.</p>

    <p class="text-xl font-medium mt-6 text-gray-800">7. Contact Us</p>
    <p class="mt-4 line-height-3 text-gray-600">If you have any questions about our Cookie Policy, please contact us</p>
    <p class="mt-4 line-height-3 text-gray-600">By using our Website, you agree to the use of cookies as outlined in
        this Policy.</p>
</div>
