<div *ngIf="control.control" class="flex flex-column gap-2">
    <div class="w-full flex gap-3">
        <label>{{ label }}</label>
        <i *ngIf="tooltip !== null" class="text-gray-500 pi pi-info-circle" [pTooltip]="tooltip" tooltipPosition="right"></i>
    </div>
    <span class="p-input-icon-left w-full" *ngIf="inputIcon">
        <i class="pi" [ngClass]="inputIcon"></i>
        <p-calendar class="w-full" [disabled]="isDisabled" [dateFormat]="format" [minDate]="min" [maxDate]="max" [showButtonBar]="showButtonBar" [(ngModel)]="value" (input)="changeValue()"></p-calendar>
  </span>
    <p-calendar *ngIf="inputIcon === null" class="w-full" [dateFormat]="format" [minDate]="min" [maxDate]="max" [showButtonBar]="showButtonBar" [disabled]="isDisabled" [(ngModel)]="value" (input)="changeValue()"></p-calendar>
    <p class="text-red-700 text-xs" *ngFor="let errorKey of filteredActiveErrorKeys()">{{ filteredActiveErrors[errorKey] }}</p>
</div>
