<div *ngIf="control.control" class="flex flex-column gap-2">
  <div *ngIf="label || tooltip" class="w-full flex gap-3">
    <label>{{ label }}</label>
    <i *ngIf="tooltip !== null" class="text-gray-500 pi pi-info-circle" [pTooltip]="tooltip" tooltipPosition="right"></i>
  </div>
  <span class="p-input-icon-left w-full" *ngIf="inputIcon">
    <i class="pi" [ngClass]="inputIcon"></i>
    <input class="w-full" type="email" pInputText [placeholder]="placeholder" [disabled]="isDisabled" [(ngModel)]="value" (input)="changeValue()" />
  </span>
  <input *ngIf="inputIcon === null" class="w-full" type="email" pInputText [placeholder]="placeholder" [disabled]="isDisabled" [(ngModel)]="value" (input)="changeValue()" />
  <p class="text-red-700 text-xs" *ngFor="let errorKey of filteredActiveErrorKeys()">{{ filteredActiveErrors[errorKey] }}</p>
</div>
